<!Doctype HTML>
	<html lang=en>
		<head>
			<title>Information Management System</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/searchPage.css') }}">
			<link rel="shortcut icon" href="{{url_for('static', filename='./images/favicon/favicon.png') }}" type="image/x-icon">
			<meta charset="UTF-8">
		</head>
		<body>
            {% block body %} {% endblock %}
		</body>
	</html>
			<div id="nav" >
                <div id="dropdown">
				    <div draggable='false' ondragstart="return false;" id="user-profile-space">
					    <div id="user-profile-pic" class="misc">
						    <img src="{{ url_for('static',filename=userdefpic) }}" alt="{{ userProfilepic }}" id="user-pp">
					    </div>
					    <div id="user-profile-name" class="misc">
						    <h3>{{ usernm }}</h3>
					    </div>
					    <div id="user-profile-schoolpos" class="misc">
						    <h5>{{ schoolposition }}</h5>
					    </div>
				    </div>
                    <div id="userDropdowncontent">
                        <a id="profileLink" href={{ url_for('profile') }}>Profile</a>
                        <a id="homeLink" href={{ url_for('homepage') }}>Home</a>
                    </div>
                </div>
                <form  action="{{ url_for('search') }}" method="POST" >
                    <div id="searcherdiv">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="searchbar" value="{{ returnsearch }}" id="searcher" name="searcher" placeholder="Search..." autocomplete="off" type="text"/>
                    </div>
                </form>
                <div id="logoutLogo">
                    <a id="logoutfocus" draggable='false' ondragstart="return false;" href="{{ url_for('logout') }}">
                        <img draggable='false' ondragstart="return false;" src="{{ url_for('static', filename='./images/logout.png') }}" alt="Logout" id="logout">
                        <div id="preventLogoutdrag"></div>
                    </a>
                </div>
				<div id="pageLogo" >
					<img draggable='false' ondragstart="return false;" src="{{ url_for('static', filename='./images/logo.png') }}" alt="St.Peter's College Logo" id="spclogo">
				</div>
			</div>
        <div id="searchresultdivider">

            {% if  getreturn  == True %}
                <a class="searchresultblock" draggable='false' ondragstart="return false;">
                    <h3 class="emptyresult">" {{ returnsearch }} " Not Found</h3>
                </a>

            {% else %}
                {% for x in datas %}
                    <a href="#" class="searchresultblock" draggable='false' ondragstart="return false;">
                        <img src="{{ url_for('static',filename=x['userpp']) }}" alt="{{ x['userfn'] }}" class="profileViewResult">
                        <h3 class="statusViewResult" >{{ x['schoolpos'] }}</h3>
                        <h3 class="searchuserresult">{{ x['userfn'] }}</h3>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    