<!Doctype HTML>
	<html lang=en>
		<head>
			<title>Information Management System</title>
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/user_dashboard.css') }}">
            			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/searchPage.css') }}">
			<link rel="shortcut icon" href="{{url_for('static', filename='./images/favicon/favicon.png') }}" type="image/x-icon">
			<meta charset="UTF-8">
		</head>
		<body>
            {% block body %} {% endblock %}
		</body>
	</html>