{% extends "user_dashboard.html" %}
{% block body %}
			<div id="nav" >
                <div id="dropdown">
				    <div draggable='false' ondragstart="return false;" id="user-profile-space">
					    <div id="user-profile-pic" class="misc">
						    <img src="{{ url_for('static',filename=userdefpic) }}" alt="{{ userProfilepic }}" id="user-pp">
					    </div>
					    <div id="user-profile-name" class="misc">
						    <h3>{{ usernm }}</h3>
					    </div>
					    <div id="user-profile-schoolpos" class="misc">
						    <h5>{{ schoolposition }}</h5>
					    </div>
				    </div>
                    <div id="userDropdowncontent">
                        <a id="profileLink" href={{ url_for('profile') }}>Profile</a>
                    </div>
                </div>
                <form  action="{{ url_for('search') }}" method="POST" >
                    <div id="searcherdiv">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="searchbar" id="searcher" name="searcher" placeholder="Search..." autocomplete="off" type="text"/>
                    </div>
                </form>
                <div id="logoutLogo">
                    <form  action="{{ url_for('logout') }}" method="POST" >
                         <button id="logoutfocus" draggable='false' ondragstart="return false;" ></button>
                         <img draggable='false' ondragstart="return false;" src="{{ url_for('static', filename='./images/logout.png') }}" alt="Logout" id="logout">
                         <input type="hidden" id="logoutin" name="logoutin" value="True"/>
                     </form>
                </div>
				<div id="pageLogo" >
					<img draggable='false' ondragstart="return false;" src="{{ url_for('static', filename='./images/logo.png') }}" alt="St.Peter's College Logo" id="spclogo">
				</div>
                <div id="searchErrorDiv">
                    <h3 id="SearchError">{{ error }}</h3>
                </div>
                <script type="text/javascript">
                    function msghider() {
                        document.getElementById("SearchError").style.visibility="hidden";
                    }
                    setTimeout("msghider()", 3000);
                </script>
			</div>
    <h3 id="msgf">{{ msgf }}</h3>
{% endblock %}