{% extends 'userProfilePage.html' %}

{% block head %}
    <title>Settings • Information Management System</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/userProfileEditor.css') }}">
{% endblock %}

{% block body %}
			<div id="nav" >
                <div id="dropdown">
				    <div draggable='false' ondragstart="return false;" id="user-profile-space">
					    <div id="user-profile-pic" class="misc">
						    <img src="{{ url_for('static',filename=userdefpic) }}" alt="{{ userProfilepic }}" id="user-pp">
					    </div>
					    <div id="user-profile-name" class="misc">
						    <h3>{{ usernm }}</h3>
					    </div>
					    <div id="user-profile-schoolpos" class="misc">
						    <h5>{{ schoolposition }}</h5>
					    </div>
				    </div>
                    <div id="userDropdowncontent">
                        <a id="profileLink" href={{ url_for('homepage') }}>Home</a>
                    </div>
                </div>
                <div id="logoutLogo">
                    <form  action="{{ url_for('logout') }}" method="POST" >
                         <button id="logoutfocus" draggable='false' ondragstart="return false;" ></button>
                         <img draggable='false' ondragstart="return false;" src="{{ url_for('static', filename='./images/logout.png') }}" alt="Logout" id="logout">
                         <input type="hidden" id="logoutin" name="logoutin" value="True"/>
                     </form>
                </div>
				<div id="pageLogo" >
					<img draggable='false' ondragstart="return false;" src="{{ url_for('static', filename='./images/logo.png') }}" alt="St.Peter's College Logo" id="spclogo">
				</div>
			</div>

            <div id="userinfobg"></div>
            <div id="userinfobg2"></div>
            <div id="userprofilepage">
            <a id="goback" href="{{ url_for('profile') }}">GO BACK</a>
                <div id="userprofilepicture">
                    <img src="{{ url_for('static',filename=userdefpic) }}" alt="{{ userProfilepic }}" id="user-pp-view">
                </div>
                <div id="userprofilename1">
                    <h3>{{ usernm }}</h3>
                </div>
                <div id="userprofileschoolpos1">
                    <h3>{{ schoolposition }}</h3>
                </div>
         <form action="{{ url_for('editprofile') }}" method="POST">
                <div id="userprofileschoolpos2">
                    <label id="userprofileschoolposlabe2" for="userstatusedit">STATUS:</label>
                    <select name="userstatusedit" id="userstatusedit" class="inputclass">
                        <option name="userstatusedit" value=" " selected hidden></option>
                        <option name="userstatusedit" value="Student">Student</option>
                        <option name="userstatusedit" value="Teacher">Teacher</option>
                    </select>
                </div>
                <div id="userprofilename2">
                    <label id="userprofilenamelabel" for="usernmeditor" >FULL NAME:</label>
                    <input name="usernmeditor" autocomplete="off" id="usernmeditor" class="inputclass" value="" />
                </div>
                <div id="userprofileemail">
                    <label id="userprofileemaillabel" for="useremeditor" >EMAIL:</label>
                    <input name="useremeditor" value="" autocomplete="off" id="useremeditor" type="email" class="inputclass" />
                </div>
                <div id="userprofileschoolyr">
                    <label for="usersyedit">SCHOOL YEAR:</label>
                    <select name="usersyedit" id="usersyedit" class="inputclass">
                        <option name="usersyedit" value=" " selected hidden></option>
                        <option name="usersyedit" value="1st Year">1st Year</option>
                        <option name="usersyedit" value="2nd Year">2nd Year</option>
                        <option name="usersyedit" value="3rd Year">3rd Year</option>
                        <option name="usersyedit" value="4th Year">4th Year</option>
                    </select>
                </div>
                <div id="userprofileschoolid">
                    <label for="usersidneditor">SCHOOL I.D:</label>
                    <input name="usersidneditor" value="" autocomplete="off" id="usersidneditor" class="inputclass"/>
                </div>
                <div id="userprofilebday">
                     <label for="userbdayeditor">DATE OF BIRTH:</label>
                    <input name="userbdayeditor" value="" autocomplete="off" type="date" id="userbdayeditor" class="inputclass" />
                </div>
                <div id="userprofilecourse">
                    <label for="usercourseedit">COURSE:</label>
                    <select name="usercourseedit" id="usercourseedit" class="inputclass">
                        <option name="usercourseedit" value=" " selected hidden></option>
                        <option name="usercourseedit" value="Bachelor of Science in Computer Science">Bachelor of Science in Computer Science</option>
                        <option name="usercourseedit" value="Bachelor of Science in Information Technology">Bachelor of Science in Information Technology</option>
                    </select>
                </div>
                <div id="userprofilepass">
                    <label>CHANGE PASSWORD:</label>
                    <input name="userpasseditor" value="" autocomplete="off" type="password" id="userpasseditor" class="inputclass" placeholder="Password"/>
                    <input name="userrepasseditor" value="" autocomplete="off" type="password" id="userrepasseditor" class="inputclass" placeholder="Confirm Password" />
                </div>
            <button id="profileSaveSettings" type="submit">SAVE CHANGES</button>
         </form>
            </div>
    <span id="span"></span>
{% endblock %}